ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
ul,
input,
figure {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans.woff2');
}
@font-face {
  font-family: 'opensansbold';
  src: url('../fonts/opensansbold.woff2');
}
@font-face {
  font-family: 'opensanslight';
  src: url('../fonts/opensanslight.woff2');
}
.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 18px 36px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
}
.btn--active {
  border: 2px solid #d22856;
  color: #d22856;
}
.btn--not-active {
  border: 2px solid #dddfe0;
  color: #dddfe0;
}
.wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.page-header {
  outline: red solid 3px;
  background-color: #1d2631;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  background-color: rgba(29, 38, 50, 0.8);
}
.main-nav {
  outline: red solid 3px;
}
.main-nav--closed {
  background-color: rgba(29, 38, 50, 0.8);
}
.main-nav .main-nav__toggle {
  border: none;
  background-color: #283645;
}
.main-nav .main-nav__item {
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1 ps solid #283544;
}
.main-nav a {
  font-family: opensansbold;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}
.download-app {
  outline: red solid 3px;
  background-color: #1d2631;
}
.download-app p {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: opensans;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
}
.download-app .download-app__item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.description {
  outline: red solid 3px;
  background-color: #fff;
}
.description b {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 70px;
  font-family: opensans;
  font-size: 24px;
  color: #283645;
}
.about-app {
  outline: red solid 3px;
  background-color: #f2f2f2;
}
.about-app h2 {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: opensansbold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.slide {
  outline: red solid 3px;
}
.slide .slide__review-author {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: opensansbold;
  font-size: 18px;
  line-height: 30px;
}
.slide .slide__review-text {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: opensans;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
