.center() {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.outline() {
  outline: red solid 3px;
}

.wrapper() {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media @tablet {
    min-width: 700px;
    padding: 0 40px;
  }

  @media @desktop {
    width: 1200px;
    padding: 0 130px;
  }
}

.visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
