@font-face {
  font-family: Open Sans;
  src: url('../fonts/opensans.woff2');
}

/*
@font-face {
  font-family: 'opensansbold';
  src: url('../fonts/opensansbold.woff2');
}

@font-face {
  font-family: 'opensanslight';
  src: url('../fonts/opensanslight.woff2');
}
*/
