.description {
  .outline();
  background-color: @sec-color;

  b {
    .center();
    margin-top: 45px;
    margin-bottom: 70px;
    font-family: opensans;
    font-size: 24px;
    color: #283645;
  }
}
