.download-app {
  background-color: @prime-color;
  padding: 28px 0;/*
  padding-bottom: 35px;*/
  text-align: center;
  color: @sec-color;

  .download-app__wrapper {
    padding: 0 20px;
  }

  .download-app__title {
    display: none;
  }

  .download-app__item {
    display: inline-block;
    vertical-align: middle;
    margin: 30px 0;
  }

  .download-app__item:nth-child(2n) {
    margin: 0 30px;
  }

  @media @tablet {
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 101;
    width: 300px;
    background-color: transparent;
    padding-top: 100px;

    .download-app__title {
      display: block;
      width: 200px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  @media @desktop {
    float: left;
    width: 330px;
  }
}
