.main-nav {
  .outline();

  &--closed {
    background-color: fade(@bg-nav, 80%);
  }

  .main-nav__toggle {
    border: none;
    background-color: #283645;
  }

  .main-nav__item {
    background-color: #283645;
    border-top: 1px solid #485461;
    border-bottom: 1 ps solid #283544;
  }

  a {
    font-family: opensansbold;
    font-size: 18px;
    line-height: 32px;
    color: @sec-color;
  }
}
