.page-footer {
  text-align: center;

  .page-footer__slogan {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    font-size: 24px;
    color: #c7c9cb;
    margin-bottom: 40px;
  }

  .contacts {
    font-size: 18px;
    color: #283645;
    font-weight: bold;
  }

  .contacts__link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    color: #d22856;
    margin-bottom: 30px;
  }

  .page-footer__wrapper {
    display: none;
  }

  @media @tablet {

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    .wrapper();
    padding: 39px 0;

    @media @desktop {
      padding: 100px 0 72px 0;
    }
  }


  .page-footer__slogan {
    width: 270px;
  }

  .page-footer__copyright {
    display: block;
    width: 150px;
  }

    a {
      display: inline-block;vertical-align: middle;
    }

    .contacts li {
      display: inline-block;
      vertical-align: top;
    }
  }
}
