.page-header {
  .outline();
  .clearfix();
  position: relative;
  background-color: @prime-color;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*.page-header__wrapper {
    .wrapper();
  }*/
}
