.phone-app {
  position: relative;
  z-index: 100;
  margin-top: 110px;
  width: 238px;
  margin-bottom: -5px;/*
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  padding-top: 397px;*/

  @media @tablet {
    margin-left: 150px;
    width: 410px;
  }

  @media @desktop {
    float: right;
    width: 600px;
  }
}
