.phone-app {
  text-align: center;
  img {
    width: 300px;
    margin-top: 110px;

    @media @tablet {
      width: 470px;
      margin-left: 190px;
    }

    @media @desktop {
      width: 570px;
      float: right;
      margin-left: 0;
    }
  }


}
