.price {
  .outline();
  text-transform: uppercase;

  .price__name {
    background-color: #283645;
    color: @sec-color;
    text-align: center;
  }

  .price__cost {
    background-color: #283645;
    color: @sec-color;
    text-align: center;
  }

  .price__option {
    display: inline-block;
    vertical-align: top;
    width: 210px;
  }

  .price__available {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 40px;
  }
}
