.price {
  text-transform: uppercase;
  background-color: @bg-grey;
  color: #283645;
  padding-top: 70px;

  .price__available--column {
    display: none;
  }

  .price__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .price__column--base,
  .price__column--unlim {
    display: none;
  }

  .price__column {
    margin-right: -5px;
    border: 2px solid #e7e7e7;
  }

  .price__name,
  .price__cost {
    padding: 0 20px;
    background-color: #283645;
    color: @sec-color;
    text-align: center;
  }

  h3,
  p {
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    line-height: 30px;
  }

  h3 {
    font-size: 18px;
    padding-top: 16px;
  }

  p {
    font-size: 24px;
    padding-bottom: 22px;
  }

  ul {
    text-align: center;
  }

  .price__option {
    padding-left: 40px;
    width: 80%;
    border-bottom: 2px solid #e5e5e5;
  }

  .price__available {
    width: 15%;
    border-bottom: 2px solid #e5e5e5;
  }

  @media @tablet {
    text-align: center;

    .price__column {
      display: inline-block;
      vertical-align: top;
      width: 25%;
    }

    .price__wrapper {
      width: auto;
    }

    .price__available {
      display: block;
      margin: auto;
    }

    .price__option {
      display: none;
    }

    .price__available--column {
      display: inline-block;
      vertical-align: top;
      padding-top: 47px;
      text-align: left;
      text-transform: none;
  }
  }
}
