.slide {
  .outline();

  .slide__review-author {
    .center();
    font-family: opensansbold;
    font-size: 18px;
    line-height: 30px;
  }

  .slide__review-text {
    .center();
    font-family: opensans;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
  }
}
