.user-photo {
  .outline();

  text-align: center;
  color: #283645;
  padding-top: 50px;

  .user-photo__img {
    width: 100%;
  }

  span {
    text-transform: uppercase;
  }

  .user-photo__text {
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 58px;
  }

  .user-photo__item {
    background-color: @bg-grey;
    margin-bottom: 20px;
    padding-bottom: 26px;
  }

  .user-photo__author {
    padding-top: 40px;
    font-weight: bold;
  }

  .user-photo__like-link {
    text-transform: uppercase;
    color: #d22856;
  }
}
