.user-photo {
  text-align: center;
  .user-photo__wrapper {
    .wrapper();

    @media @tablet {
      width: auto;
    }

    @media @desktop {
      padding: 0;
    }
  }

  .user-photo__list {
    @media @tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }


  .user-photo__img {
    width: 100%;
    margin: auto;
    &--wide {
      width: 100%;
      margin: auto;
    }
  }

  .user-photo__item {
    background-color: @bg-grey;
    @media @tablet {
      width: 45%;
      margin-bottom: 20px;

      &:nth-child(1) {
        width: 100%;
      }
    }

    @media @desktop {
      width: 30%;
    }
  }
}
